@model ManagmentRR.Models.ViewModels.TapeCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>TrocaTape</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrocaTape.TapeId" class="control-label"></label>
                <select asp-for="TrocaTape.TapeId" asp-items="@(new SelectList(Model.Tapes,"Id", "Nome"))" class="form-control"></select>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="TrocaTape.TapeId" class="control-label"></label>
                <select asp-for="TrocaTape.TapeId" class="form-control" asp-items="ViewBag.TapeId"></select>
            </div>
                -->
            <div class="form-group">
                <label asp-for="TrocaTape.DataInicio" class="control-label"></label>
                <input asp-for="TrocaTape.DataInicio" class="form-control" />
                <span asp-validation-for="TrocaTape.DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrocaTape.DataFim" class="control-label"></label>
                <input asp-for="TrocaTape.DataFim" class="form-control" />
                <span asp-validation-for="TrocaTape.DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrocaTape.EmpresaId" class="control-label"></label>
                <select asp-for="TrocaTape.EmpresaId" asp-items="@(new SelectList(Model.Empresas,"Id", "Nome"))" class="form-control"></select>
            </div>
           <!-- <div class="form-group">
                <label asp-for="TrocaTape.EmpresaId" class="control-label"></label>
                <select asp-for="TrocaTape.EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
            </div>
               -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
